
/*FONTS*/

/*Sans*/
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSans-SC";
  src: url("fonts/IndivisaTextSans-BoldSc.otf");
  font-variant: small-caps;
  font-weight: 900;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "IndivisaTextSans-SC";
  src: url("fonts/IndivisaTextSans-BoldSc.otf");
  font-variant: small-caps;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-LightSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-Regular.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/IndivisaTextSans-RegularItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSans-SC";
  src: url("fonts/IndivisaTextSans-RegularSc.otf");
  font-weight: 500;
  font-variant: small-caps;
}

/*Serif*/
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-BlackSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-BoldSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-LightSc.otf");
  font-variant: small-caps;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-Regular.otf");
  font-weight: 500;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/IndivisaTextSerif-RegularItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "IndivisaTextSerif-SC";
  src: url("fonts/IndivisaTextSerif-RegularSc.otf");
  font-variant: small-caps;
}
/*General*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}



/*Colores*/
:root {
    --azul: #3F54FF;
    --azulclaro: #2BC4ED;
    --verdegradiente: #D7F63F;
    --azulagua:#009696;
    --naranja:#F89527;
    --azulLasalle:#01215e;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #001288;
}
a,
p.indivisa,
p.despedida,
section#ejesTematicos p.titulo,
section#program p.day,
section#registrationForm p.title,
section#informacionImportante p.titulo,
section#comoParticipar h5.card-title{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 900;
  font-style: italic;
}
a:hover,
a:focus {
  color: #001288;
  text-decoration: none;
}
/*Botones*/



/*Fin General*/
/*Menu*/
nav.navbar.navbar-light{
  background: #c4c5caf0;
  text-transform: uppercase;
  font-weight: 700;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link{
  color: #fff;
  font-weight: 900;
  font-family: IndivisaTextSans, sans-serif;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link.translate{
  color: #001288;
}
nav.navbar.navbar-light div.navbar-nav a#en.nav-item.nav-link{
  margin-left: 20px;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link.active{
  text-decoration: underline;
}
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link:hover{
  text-decoration: underline;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  
}
.navbar-light  .navbar-toggler,.navbar-light  .navbar-toggler:focus{
  border-color: rgb(255,255,255);
}
/*Fin Menu*/
/*Header*/


/*Fin Header*/

/*Contenido*/
section#home{
  color: #fff;
}
section#home{
  
  background-image: url('../images/home/CEMEL_Back01.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 40px;
  text-align: right;
}
section#home h1{
  font-family: IndivisaTextSerif, serif;
  text-transform: uppercase;
  font-size: 40px;
  font-style: italic;
  margin-top: 30px;
  border-bottom: 1px solid #c30824;
}
section#home h2,
section#program p.title,
section#registrationForm p.title{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 900;
  font-style: italic;
}
section#home h2{
  font-size: 45px;
  margin-top: 125px;
}
section#home p,
section#informacionImportante p.opcion span.titulo{
  font-family: IndivisaTextSerif, serif;
  font-style: italic;
  font-weight: 500;
}
section#home p{
  font-size: 25px;
  margin-bottom: 10px;
}
section#home p.fecha,section#registrationForm input,
section#registrationForm select,
section#home p.fecha,section#registrationForm button,
section#informacionImportante div.infoFechas p.info.fecha,
nav.navbar.navbar-light div.navbar-nav a.nav-item.nav-link.translate{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 500;
  font-style: normal;
}
section#home p.fecha{
  font-size: 32px;
  margin-top: 125px;
  margin-bottom: 60px;
}
section#home .row{
  padding-top: 100px;
}
section#home hr.rojo{
  border: 0;
  border-top: 10px solid #c30824;
  width: 20%;
  margin: 1rem 0 1rem auto;
}
section#welcome hr.azul{
  border: 0;
  border-top: 20px solid #001288;
  width: 100%;
  margin: 1rem auto 1rem auto;
}

section#welcome p.dear,
section#comoParticipar,
section#registrationForm,
section#welcome div.welcomeText p:nth-child(1),
section#welcome p.despedida,
section#informacionImportante p{

  color: #001288;
}

section#welcome p.dear{
  font-family: IndivisaTextSerif, sans-serif;
  font-weight: 900;
  font-style: italic;
}

section#welcome p.dear{
  font-size: 5em;
  line-height: 1em;
  letter-spacing: -4px;
  padding-top: 50px; 
}
section#welcome div.welcomeText{
  padding: 49px 50px 0px 50px;
  color: #000;
  margin: 50px 40px;
  border-left: 2px solid #000;
}

section#welcome div.welcomeText span.nombre{
  font-size: 24px;
}
section#welcome div.welcomeText p.firma{
  font-size: 18px;
}

section#welcome div.welcomeText p:nth-child(1),
section#informacionImportante div.infoFechas p.numeroFecha{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 700;
}
section#welcome div.welcomeText p:nth-child(1){
  font-size: 25px;
}

p.indivisa,p.firma{
  text-align: right;
}


section#welcome p.despedida
{
  margin-top: 30px;
  text-align: left;
  font-size: 25px;
}
section#ejesTematicos{
  padding: 60px;
  background-image: url('../images/home/CEMEL_Back02.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ejesInfo p{

}

section#ejesTematicos{
  color: #fff;
}
section#ejesTematicos span.numeroEje, section#comoParticipar p span.iniciales{
  font-family: "IndivisaTextSans-SC",sans-serif;
  font-variant: small-caps;
  font-weight: 700;
}
section#ejesTematicos span.numeroEje{
  float: left;
  font-size: 50px;
  line-height: 30px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px; 
}
section#ejesTematicos figure{text-align: center;}
section#ejesTematicos figure figcaption{
  text-align: center;
  line-height: 22px;
}
section#ejesTematicos div.contenidoCongreso{
  margin-top: 80px;
}
section#ejesTematicos figure figcaption{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 300;
}

section#ejesTematicos p.titulo,
{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 900;
  font-style: italic;
}
section#ejesTematicos p.titulo{
    font-size: 50px;
}
section#ejesTematicos div.infoTemas p.titulo{
    font-size: 60px;
    text-align: right;
}
section#ejesTematicos hr, section#program hr{
  border: 0;
  border-top: 20px solid rgb(255, 255, 255);
  width: 60%;
  margin: 1rem 0 1rem auto;
}
section#ejesTematicos div.contenidoEjes{
  border-right: 2px #c30824 solid;
}
section#ejesTematicos div p.ejesInfo{
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 60px;
}
section#informacionImportante{
  padding: 50px;
}

section#informacionImportante{
  background: #b8c1cc;
}
section#informacionImportante p.titulo{
  font-size: 40px;
  line-height: 40px;
}
section#informacionImportante div.infoFechas p{
  text-align: right;
}

section#informacionImportante div.infoFechas p.info{
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

section#informacionImportante div.infoFechas p.numeroFecha{
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  margin-top: 10px;
}

section#informacionImportante div.infoFechas span.fecha{
  font-size: 20px;
  line-height: 20px;
  text-align: left;
}

section#informacionImportante div.infoFechas p.dosFechas{
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  margin-top: 0;
}

section#informacionImportante div.infoCongreso{
  border-right: 2px #000 solid;
}
section#informacionImportante div.infoCongreso p.opcion{
  font-size: 20px;
  line-height: 20px;
}
section#informacionImportante div.infoCongreso p.opcion span.titulo{
  margin-left: -20px;
  color: #fff;
}

section#informacionImportante div.bgAzul{
  background: #001288;
  padding: 20px 60px;
}
section#informacionImportante  div.bgAzul p.info,
section#informacionImportante  div.bgAzul p.numeroFecha,
section#informacionImportante  div.bgAzul p.fecha{
  color: #fff;
  margin-bottom: 0;
}

section#informacionImportante  div.bgAzul p.info{
  font-family: "IndivisaTextSans-SC",sans-serif;
  font-variant: small-caps;
  font-weight: 900;
}
section#informacionImportante  div.bgAzul p.info{
  font-size: 22px;
}

section#informacionImportante div.bgAzul p.numeroFecha{
    line-height: 20px;
    font-size: 20px;
    margin-top: 0;
}

section#comoParticipar{
  padding: 60px;
}

section#comoParticipar p.titulo,
footer p.hashtag,
section#informacionImportante div.infoCongreso p.opcion,
section#informacionImportante div.infoFechas p.info{
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 900;
}



section#comoParticipar p.titulo{
  font-size: 58px;
  line-height: 50px;
  margin-bottom: 50px;
}

section#comoParticipar p span.iniciales{
  float: left;
  font-size: 20px;
  line-height: 50px;
  padding: 5px 13px;
  border: 5px solid #001288;
  border-radius: 50px;
  margin-right: 15px;
  margin-top: -10px;
}
section#comoParticipar div.opciones{
  border-left: 1px solid #001288;
}
section#comoParticipar figure{
  text-align: center;
}

section#comoParticipar h5.card-title{
  text-align: center;
}

section#comoParticipar div.card-body{
  padding: 1px;
}
section#comoParticipar div.card{
  border:none;
}
section#comoParticipar p {
  font-size: 18px;
}

section#program hr.red{
  border-top: 2px solid #c30824 ;
  margin: 1rem 0 1rem auto;
  width: 100%;
}
section#program div.content div.col-5{
  font-family: "IndivisaTextSans-SC",sans-serif;
  font-weight: 500;
  font-variant: small-caps;
}
section#program div.content div.col-5:nth-child(4n+1){
  background: #7e92f966;
}
section#program div.content div.col-7:nth-child(4n+2){
  background: #7e92f966;
}

section#program{
  background-image: url('../images/home/CEMEL_Back03.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
section#program{
  padding: 100px;
}
section#program p.title{
  font-size: 90px;
  margin:0;
}
section#program p.subtitle{
  font-size: 50px;
  font-weight: 500;
  margin-top: -45px;
}
section#program hr{
  width: 40%;
}

section#program p.day{
  font-size: 70px;
  font-style: italic;  
}

section#program p.date{
    margin-top: -30px;
    margin-left: 100px;
}
section#program div.content{
    font-size: 18px;
    margin-right: 20px;
}


section#registrationForm{
  padding: 50px 100px;
}

section#registrationForm p.title{
  font-size: 70px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

section#registrationForm p.subtitle{
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;

}

section#registrationForm  figure img,
section#registrationForm .form-control{
  background: #E2E7ED;
}

section#registrationForm .form-control{
  color: #01215e;
}
section#home p.fecha,section#registrationForm button
{
  text-transform: none;
}
button.btn{
  border-radius: 0;
  padding: 10px 80px;
}
.btn-primary{
  background-color: #001288;
  border-color: #001288;
}
.btn-primary:hover{
  background-color: #000e66;
  border-color: #000e66;
}

section#registrationForm div.filaBoton{
  min-height: 11rem;
}
section#registrationForm input{
  height: 40px;
}
section#registrationForm div.infoPreRegistro p{
  color: #000;
  padding-left: 20px;
}
section#registrationForm label.error.valid{
  display: none!important;
}
/*Fin Contenido*/

/*Footer*/

footer.bannerFooter{
  background-image: url('../images/footer/CEMEL_Footer.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-color: #101188;
  color: #fff;
  padding-top: 50px;
}

footer {
  text-align: center;
}
footer a{
  color: #fff;
  font-weight: bold;
}
footer a:hover{
  text-decoration: none;
  color: #45B8FF;

}
footer p.hashtag{
  font-size: 40px;
}
footer div.legales{
  border-top: 2px #cccccc solid;
}

p.aviso, p.terminos{
  cursor: pointer;
  padding: 1% 0;
}
p.aviso:hover, p.terminos:hover,p.aviso:focus, p.terminos:focus{
  color: #45B8FF;
}
p.aviso.active,p.terminos.active{
  color: #45B8FF;
}
div.resumenAviso p, div.resumenTerminos p{
  text-align: left;
}

.bgGray{
  background: gray;
  padding-top: 1%;
}
div.redesSociales figure
{
  display: inline-block;
  padding: 2.2%;
}
div.redesSociales p
{
  color: #fff;
  text-align: left;
}
span.textoValor{
  font-size: 1.5em;
  color: gray;
  font-weight: 800;
}

ul.listaEscuelas a
{
  color:#fff;
  font-size: 0.8em;
}
footer div ul.listaEscuelas {
    list-style-image: url('../images/footer/icon_whiteArrow.png');
}
footer div ul.listaEscuelas li {
    margin-left: 25px
}

/*Fin Footer*/
/*Media Queries*/
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px)
{
  nav.navbar.navbar-light div.navbar-nav a#en.nav-item.nav-link {
    margin-left: 0;
  }
  section#home div.row.justify-content-end figure{
    text-align: right;
  }
  section#home div.row.justify-content-end figure img{
    width: 40%!important;
  }

  section#welcome {
    padding-bottom: 20px;
  }

  section#welcome p.dear{
    font-size: 2em;

  }
  section#welcome div.welcomeText {
    padding: 18px 10px 10px 10px;
    margin: 10px 0px;
    font-size: 16px;
  }
  section#welcome p.namePerson {
    font-size: 18px;
  }
  section#welcome p.namePerson span.position {
    font-size: 16px;
  }
  section#welcome hr.azul {
      width: 50%;
      margin: 1rem 0 1rem auto;
  }
  section#welcome div.welcomeText span.nombre {
    font-size: 22px;
  }


  section#ejesTematicos div.contenidoEjes,
  section#comoParticipar div.opciones,
  section#welcome div.welcomeText {
    border:  none;
  }
  section#ejesTematicos div.infoTemas p.titulo {
      font-size: 36px;
      text-align: left;
  }
  section#ejesTematicos hr{
      margin: 1rem auto 1rem 0;
  }
  section#ejesTematicos p.titulo {
      line-height: 50px;
  }
  section#comoParticipar {
    padding: 50px;
  }
  section#comoParticipar p.titulo {
    font-size: 40px;
    line-height: 40px;
  }
  section#informacionImportante {
    padding: 30px;
  }
  section#informacionImportante div.infoCongreso{
    border-right: none;
  }
  section#informacionImportante div.bgAzul {
    padding: 20px 10px;
  }
  section#informacionImportante div.bgAzul p.info{
    font-size: 16px;
  }
  section#informacionImportante div.infoFechas p.dosFechas{
    line-height: 16px;
  }
  section#program {
    padding: 10px;
  }
  section#program p.title, section#program span.mayores {
    font-size: 75px;
  }
  section#program p.subtitle {
    margin-top: -30px;
  }
 
  section#program div.content {
    font-size: 20px;
    margin-right: 0;
  }

  section#registrationForm {
    padding: 10px;
  }

  section#registrationForm p.title {
    font-size: 50px;
  }
  footer p.hashtag {
      font-size: 30px;
  }

}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px)  {

 

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
 html{
    font-size: 20px;
  }
  nav.navbar.navbar-light div.navbar-nav a#en.nav-item.nav-link {
    margin-left: 0;
  }
  section#welcome p.dear {
    font-size: 3em;
  }
  section#ejesTematicos div.infoTemas p.titulo {
    font-size: 50px;
  }

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){ 

 html{
    font-size: 16px;
  }
  section#welcome p.dear {
    font-size: 3em;
  }
}

/* Extra large devices (large desktops, 1200px and up*/
@media (min-width: 1200px) { 

 html{
    font-size: 16px;
  }
  section#welcome p.dear {
    font-size: 4em;
  }
}